/* Reset and universal styling */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Ensure full-page layout */
body {
    display: flex;
    flex-direction: column;
    font-family: 'Schibsted Grotesk';
    font-size: 16px;
}

/* Make sure main content expands */
main {
    flex: 1;
}

header {
    position: sticky;
}

/* Footer */
footer {
    width: 100%;
    margin-top: auto; 
    padding: 10px 0;
}
/* Box-sizing set on all elements */
* {
    box-sizing: border-box;
}