.clip-star {
    background: gold;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: inline-block;
    height: 100px;
    width: 100px;
  }
  
  /* PRESENTATION STYLES */
  body {
    align-items: center;
    background: #333;
    display: flex;
    height: 100vh;
    justify-content: center;
  }