{% extends 'unidfood/base.html' %}

{% block title %}Add Review{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="text-center mb-4">Add a Review for {{ place.name }}</h1>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="mb-3">
                <label for="id_place" class="form-label">Place</label>
                {{ form.place }}
            </div>

            <div class="mb-3">
                <label for="id_rating" class="form-label">Rating</label>
                {{ form.rating }}
            </div>

            <div class="mb-3">
                <label for="id_content" class="form-label">Your Review</label>
                {{ form.content }}
            </div>

            <div class="mb-3">
                <label for="id_image" class="form-label">Upload Image (Optional)</label>
                {{ form.image }}
            </div>

            <button type="submit" class="btn btn-dark">Submit Review</button>
        </form>
    </div>
{% endblock %}