<!DOCTYPE html>
<html>
<head>
    <title> UnidFood - {% block title %}Home{% endblock %}</title>
</head>
<body>
    <nav>
        <!--Links to pages-->
        <li><a href="{% url 'rango:home' %}">Home</a></li>
        <li><a href="{% url 'rango:places' %}">Places</a></li>
        <li><a href="{% url 'rango:nearby' %}">Nearby</a></li>
        <li><a href="{% url 'rango:meetups' %}">Meetups</a></li>
        <li><a href="{% url 'rango:deals' %}">Deals</a></li>
        <li><a href="{% url 'rango:login' %}">Login</a></li>
        <li><a href="{% url 'rango:signup' %}">Sign Up</a></li>

        <!-- Search bar -->
        <form action="{ url 'rango:search' %}" method="get">
            <input type="text" name="q" placeholder="Search..." required>
            <button type="submit">Search</button>
        </form>
    </nav>

    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>