{% extends 'unidfood/base.html' %}

{% block title %}Deals{% endblock %}


{% block extra_styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/deals.css' %}">
{% endblock %}

{% block content %}
    <div class="deals-container">
        <h1>Exclusive Student Deals</h1>

        <!-- Embedded Unidays iframe -->
        <iframe src="https://www.myunidays.com/GB/en-GB/categories/food-drink"></iframe>

        {% if deals %}
            <ul class="deals-list">
                {% for deal in deals %}
                    <li>
                        <strong>{{ deal.place.name }}</strong> - <em>{{ deal.title }}</em>
                        <p>{{ deal.description }}</p>
                        <p><strong>Discount:</strong> {{ deal.discount }}%</p>
                        <p><strong>Valid Until:</strong> {{ deal.expiry_date }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="no-deals">No deals available at the moment. Check back later!</p>
        {% endif %}
    </div>
{% endblock %}
