{% extends 'unidfood/base.html' %}

{% block title %}Home{% endblock %}
{% block content %}
<div class="container text-center">
    <h1>Welcome to UniDFood</h1>
    
    {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}! Explore restaurants and leave reviews.</p>
        <a href="{% url 'unidfood:places' %}" class="btn btn-primary">View Restaurants</a>
    {% else %}
        <a href="{% url 'unidfood:register' %}" class="btn btn-success">Get Started</a>
    {% endif %}
</div>
{% endblock %}