{% extends 'unidfood/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container text-center">
    <h1>Welcome to UnidFood</h1>
    
    {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}! Explore restaurants and leave reviews.</p>
        <div class="d-flex justify-content-center gap-2">
            <a href="{% url 'unidfood:places' %}" class="btn btn-dark">View Places</a>
            <a href="{% url 'unidfood:profile' %}" class="btn btn-outline-secondary">My Profile</a>
        </div>
    {% else %}
        <a href="{% url 'unidfood:register' %}" class="btn btn-dark">Get Started</a>
    {% endif %}
</div>
{% endblock %}
