{% extends 'unidfood/base.html' %}

{% block title %}My Account{% endblock %}

{% block content %}
    <h1>My Account</h1>

    <form method="post">
        {% csrf_token %}
        {{ user_form.as_p }} 
        {{ profile_form.as_p }}  

        <button type="submit">Update Account</button>
    </form>

    {% if user_form.errors or profile_form.errors %}
        <p style="color: red;">There was an error updating your account. Please check the fields.</p>
    {% endif %}

    <hr>
    <h2>Account Actions</h2>
    <ul>
        <li><a href="{% url 'unidfood:change_password' %}">Change Password</a></li>
        <li><a href="{% url 'unidfood:logout' %}">Logout</a></li>
        <li><a href="{% url 'unidfood:delete_account' %}" style="color: red;">Delete Account</a></li>
    </ul>
{% endblock %}