{% extends 'unidfood/base.html' %}
{% block title %}Set New Password{% endblock %}

{% block content %}
<div class="container col-md-6 offset-md-3">
    <h2>Set a New Password</h2>

    {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Change Password</button>
    </form>
</div>
{% endblock %}