{% extends 'unidfood/base.html' %}

{% block title %}Places{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="text-center mb-4">Browse Places</h2>
        <p class="text-center">Explore popular restaurants, bars, and cafes near you.</p>

        {% if category_places %}
            {% for category, places in category_places.items %}
                <h3 class="mt-4">Top {{ category.plural_name }}</h3>
                <ul class="list-group">
                {% for place in places %}
                    <li class="list-group-item">
                        <a href="{% url 'unidfood:place' place.id %}" class="text-decoration-none"><h5>{{ place.name }}</h5></a>
                        <p><strong>Address:</strong> {{ place.address }}</p>
                        {% if place.rating %}
                        <p><strong>Rating:</strong> {{ place.rating }}/5</p>
                        {% endif %}
                    <p>{{ place.description }}</p>
                    </li>
                {% endfor %}
                </ul>
            {% endfor %}
        {% else %}
            <h4>No places are available at the moment, please try again later.</h4>
        {% endif %}
    </div>
{% endblock %}